* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    background-color: whitesmoke;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #E71D36;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
/***************************************
                 TITRES
***************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Changa One', sans-serif;

}

h1 {
    color : #2EC4B6;
}

h2 {
    color : #E71D36;
}


/***************************************
            MENU DE NAVIGATION
***************************************/

li {
    display : inline-block;
    margin-right: 10px;
}

nav ul li {
    border : 3px
}

/***************************************
            ENTÊTE DE PAGE
***************************************/

header {
    background-color: #011627;
}

/***************************************
            PIED DE PAGE
***************************************/



/***************************************
           PAGE INFORMATIONS
***************************************/

.page-info .photo {

}
