* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #E71D36;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Changa One', sans-serif;

}


/***************************************
            ENTÊTE DE PAGE
***************************************/

.page-accueil h1 {

}

/***************************************
            ENTÊTE DE PAGE
***************************************/