* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    background-color: whitesmoke;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #E71D36;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
/***************************************
                 TITRES
***************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Changa One', sans-serif;

}

h1 {
    color : #2EC4B6;
}

h2 {
    color : #E71D36;
}


/***************************************
            MENU DE NAVIGATION
***************************************/

li {
    display : inline-block;
    margin-right: 10px;
}

nav ul li {
    border : 3px
}

/***************************************
            ENTÊTE DE PAGE
***************************************/

header {
    background-color: #011627;
}

/***************************************
            PIED DE PAGE
***************************************/



/***************************************
           PAGE INFORMATIONS
***************************************/












.page-contact h1 {
    margin-left: 15px;
    margin-bottom: -2px;
}
.section-infos {
    margin-left: 15px;
}
.section-infos p {
    margin-top: -25px;
    padding-right:35px;
}
.section-contact {
    margin-left: 15px;
}
.liste1 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item;
    list-style-image: url(../_sources/images/phone.png);
}
.liste2 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item;
    list-style-image: url(../_sources/images/mail.png);
}
.liste3 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item;
    list-style-image: url(../_sources/images/twitter.png);
}
.liste4 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item;
    list-style-image: url(../_sources/images/facebook.png);
}
ul {
    margin-left: 40px;
}
.page-contact  .lien-contact a{
    color: #2ec4b6;
}





